/* You can add global styles to this file, and also import other style files */
.pointer {
  cursor: pointer;
}

@media only screen and (max-width: 575px) {
  body {
    padding-top: 120px;
  }
}

@media only screen and (min-width:576px) {
  body {
    padding-top: 168px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 120px;
  }
}