<section id="actions" class="py-4 bg-light fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-add-test-modal></app-add-test-modal>
      </div>
      <div class="col-md-3">
        <app-add-tests-modal></app-add-tests-modal>
      </div>
      <div class="col-md-3">
        <app-add-breakage-modal></app-add-breakage-modal>
      </div>
      <div class="col-md-3">
        <app-add-user-modal></app-add-user-modal>
      </div>
    </div>
  </div>
</section>
