<app-actions-list></app-actions-list>

<section *ngIf="tests" id="current">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="card">
          <div class="card-header">
            <h4>Missing TestLink Id</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let test of tests">
                <td>{{ test.name | nameShorten: nameLength }}</td>
                <td>
                  <a href="/" class="btn btn-secondary">
                    <i class="fa fa-angle-double-right"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card text-center bg-primary text-white mb-3">
          <div class="card-body">
            <h4>Tests</h4>
            <h5 class="display-5">
              <i class="fa fa-cog"></i> {{ tests.length }}
            </h5>
            <a routerLink="/tests" class="btn btn-outline-light btn-sm">View</a>
          </div>
        </div>

        <div class="card text-center bg-success text-white mb-3">
          <div class="card-body">
            <h4>Tagged</h4>
            <h5 class="display-5"><i class="fa fa-tags"></i> {{ tests.length - noTestLinkTests.length }}</h5>
            <a routerLink="/tags" class="btn btn-outline-light btn-sm">View</a>
          </div>
        </div>

        <div class="card text-center bg-danger text-white mb-3">
          <div class="card-body">
            <h4>Broken</h4>
            <h5 class="display-5"><i class="fa fa-chain-broken"></i> {{ brokenTests.length }}</h5>
            <a routerLink="/tags" class="btn btn-outline-light btn-sm">View</a>
          </div>
        </div>

        <div class="card text-center bg-warning text-white mb-3">
          <div class="card-body">
            <h4>Users</h4>
            <h5 class="display-5"><i class="fa fa-users"></i> 4</h5>
            <a routerLink="/users" class="btn btn-outline-light btn-sm">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
