<section *ngIf="tests" id="dashboard-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink (click)="switchTab()">All tests</a>
            <ng-template ngbNavContent>
              <app-tests-table
                icon="fa-cog"
                [tests]="tests"
                [testNameLength]="nameLength"
              ></app-tests-table>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink (click)="switchTab()">Broken Tests</a>
            <ng-template ngbNavContent>
              <app-tests-table
                icon="fa-chain-broken"
                [tests]="filteredBroken"
                [testNameLength]="nameLength"
              ></app-tests-table>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink (click)="switchTab()">No TestLink Tag</a>
            <ng-template ngbNavContent>
              <app-tests-table
                icon="fa-tags"
                [tests]="filteredNoTestLink"
                [testNameLength]="nameLength"
              ></app-tests-table>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>

      <div class="col-lg-2">
        <app-sidebar-list
          [allTests]="tests"
          [brokenTests]="brokenTests"
          [noTestLinkTests]="noTestLinkTests"
        ></app-sidebar-list>
      </div>
    </div>
  </div>
</section>
