<a
  href="#"
  class="btn btn-warning text-white btn-block"
  (click)="openModal(addUser)"
>
  <i class="fa fa-plus"></i> Add User
</a>

<ng-template #addUser>
  <div class="modal-header bg-warning text-white">
    <h5 class="modal-title">Add User</h5>
    <button
      type="button"
      class="close pull-right text-white"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #addUserForm="ngForm" (ngSubmit)="onSubmit(addUserForm)">
      <div class="form-group row">
        <label for="title" class="col-sm-3 col-form-label">
          Name <span class="text-danger">*</span>
        </label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            name="name"
            ngModel
            required
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-3 col-form-label">
          Password <span class="text-danger">*</span>
        </label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            name="password"
            ngModel
            required
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="password2" class="col-sm-3 col-form-label">
          Confirm Password <span class="text-danger">*</span>
        </label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            name="password2"
            ngModel
            required
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="access" class="col-sm-3 col-form-label">
          Access Rights <span class="text-danger">*</span>
        </label>
        <div class="col-sm-9">
          <select
            name="access"
            id="accessRights"
            class="form-control"
            ngModel
            required
          >
            <option value="standard">Standard</option>
            <option value="admin">Admin</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button
          [disabled]="!addUserForm.valid"
          [ngClass]="{ 'disabled-btn': !addUserForm.valid }"
          class="btn btn-warning text-white"
        >
          Add User
        </button>
      </div>
    </form>
  </div>
</ng-template>
