<a href="#" class="btn btn-primary btn-block" (click)="openModal(addTest)">
  <i class="fa fa-plus"></i> Add Test
</a>

<ng-template #addTest>
  <div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Add Test</h5>
    <button
      type="button"
      class="close pull-right text-white"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #addTestForm="ngForm" (ngSubmit)="onSubmit(addTestForm)">
      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">Name *</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            required
            ngModel
            name="name"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="test-link" class="col-sm-3 col-form-label"
          >TestLink Case</label
        >
        <div class="col-sm-9">
          <input type="text" class="form-control" ngModel name="testLink" />
        </div>
      </div>
      <div class="form-group row">
        <label for="role" class="col-sm-3 col-form-label">Role</label>
        <div class="col-sm-9">
          <select
            name="role"
            id="roleSelect"
            class="form-control"
            ngModel
            name="role"
          >
            <option value="admin">Admin</option>
            <option value="learner">Learner</option>
            <option value="manager">Manager</option>
            <option value="tutoring">Tutoring</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="area" class="col-sm-3 col-form-label">Area</label>
        <div class="col-sm-9">
          <select
            name="area"
            id="areaSelect"
            class="form-control"
            ngModel
            name="area"
          >
            <option value="admin">Admin</option>
            <option value="learner">Learner</option>
            <option value="manager">Manager</option>
            <option value="tutoring">Tutoring</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="scope" class="col-sm-3 col-form-label">Scope</label>
        <div class="col-sm-9">
          <select
            name="scope"
            id="scopeSelect"
            class="form-control"
            ngModel
            name="scope"
          >
            <option value="admin">Admin</option>
            <option value="learner">Learner</option>
            <option value="manager">Manager</option>
            <option value="tutoring">Tutoring</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="topic" class="col-sm-3 col-form-label">Topic</label>
        <div class="col-sm-9">
          <select
            name="topic"
            id="topicSelect"
            class="form-control"
            ngModel
            name="topic"
          >
            <option value="admin">Admin</option>
            <option value="learner">Learner</option>
            <option value="manager">Manager</option>
            <option value="tutoring">Tutoring</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="object" class="col-sm-3 col-form-label">Object</label>
        <div class="col-sm-9">
          <select
            name="object"
            id="objectSelect"
            class="form-control"
            ngModel
            name="object"
          >
            <option value="admin">Admin</option>
            <option value="learner">Learner</option>
            <option value="manager">Manager</option>
            <option value="tutoring">Tutoring</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="observations" class="col-sm-3 col-form-label"
          >Observations</label
        >
        <div class="col-sm-9">
          <textarea
            name="editor1"
            class="form-control"
            ngModel
            name="observations"
          ></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button
          [disabled]="!addTestForm.valid"
          [ngClass]="{ 'disabled-btn': !addTestForm.valid }"
          class="btn btn-primary"
          type="submit"
        >
          Add Test
        </button>
      </div>
    </form>
  </div>
</ng-template>
