<section id="side-bar">
  <div class="card text-center bg-primary text-white mb-3">
    <div class="card-body py-4">
      <h4>Tests</h4>
      <h5 class="display-5">
        <i class="fa fa-cog"></i>
        <span *ngIf="allTests"> {{ allTests.length }}</span>
      </h5>
      <!-- <a routerLink="/tests" class="btn btn-outline-light btn-sm">View</a> -->
    </div>
  </div>

  <div class="card text-center bg-success text-white mb-3">
    <div class="card-body py-4">
      <h4>Tagged</h4>
      <h5 class="display-5">
        <i class="fa fa-tags"></i>
        <span *ngIf="allTests && noTestLinkTests">
          {{ allTests.length - noTestLinkTests.length }}</span
        >
      </h5>
      <!-- <a routerLink="/tags" class="btn btn-outline-light btn-sm">View</a> -->
    </div>
  </div>

  <div class="card text-center bg-danger text-white mb-3">
    <div class="card-body py-4">
      <h4>Broken</h4>
      <h5 class="display-5">
        <i class="fa fa-chain-broken"></i>
        <span *ngIf="brokenTests"> {{ brokenTests.length }}</span>
      </h5>
      <!-- <a routerLink="/tags" class="btn btn-outline-light btn-sm">View</a> -->
    </div>
  </div>

  <div class="card text-center bg-warning text-white mb-3">
    <div class="card-body py-4">
      <h4>Users</h4>
      <h5 class="display-5"><i class="fa fa-users"></i> 4</h5>
      <!-- <a routerLink="/users" class="btn btn-outline-light btn-sm">View</a> -->
    </div>
  </div>
</section>
