<section id="tests">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Tests</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Name</th>
                <th>Test Link</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let test of tests">
                <td>{{ test.name }}</td>
                <td>{{ test.testLinkTest }}</td>
                <td><i class="fa fa-chain-broken text-danger"></i></td>
                <td>
                  <a href="/tests/{{ test.id }}" class="btn btn-secondary">
                    <i class="fa fa-angle-double-right"></i> Details
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- FILTERING -->
          <div *ngIf="tests" class="btn-group fixed-bottom ml-4 mb-4">
            <button
              class="btn {{ broken }} px-4"
              type="button"
              (click)="toggleBroken()"
            >
              {{ brokenString }}
            </button>
            <button
              class="btn {{ assigned }} px-4"
              type="button"
              (click)="toggleAssigned()"
            >
            {{ assignmentString }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
